<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="60007" android:versionName="V1.6.0_20230804170041_Release" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="com.xiaopeng.xmart.cargallery" platformBuildVersionCode="28" platformBuildVersionName="9">
    <uses-sdk android:minSdkVersion="28" android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CONFIGURE_WIFI_DISPLAY"/>
    <uses-permission android:name="android.permission.NETWORK_SETTINGS"/>
    <uses-permission android:name="android.permission.REQUEST_NETWORK_SCORES"/>
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS"/>
    <uses-permission android:name="android.permission.TETHER_PRIVILEGED"/>
    <uses-permission android:name="android.permission.READ_SEARCH_INDEXABLES"/>
    <uses-permission android:name="android.permission.BIND_SETTINGS_SUGGESTIONS_SERVICE"/>
    <uses-permission android:name="android.permission.OVERRIDE_WIFI_CONFIG"/>
    <uses-permission android:name="com.xiaopeng.permission.SERVICE"/>
    <uses-permission android:name="com.xiaopeng.permission.BROADCAST"/>
    <uses-permission android:name="xiaopeng.permission.DATA_SERVICE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="com.xiaopeng.permission.DATA_SERVICE"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="com.xiaopeng.permission.SYSTEM_DELEGATE"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <application android:theme="@style/XGalleryAppTheme" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:name="com.xiaopeng.xmart.cargallery.App" android:debuggable="true" android:allowBackup="false" android:supportsRtl="true" android:extractNativeLibs="false" android:usesCleartextTraffic="true" android:roundIcon="@mipmap/ic_launcher_round" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <receiver android:name="com.xiaopeng.xmart.cargallery.CleanCacheReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="com.xiaopeng.intent.action.CLEAN_APP_CACHES"/>
                <action android:name="com.xiaopeng.intent.action.CLEAN_CAMERA_APP_CACHES"/>
            </intent-filter>
        </receiver>
        <activity android:name="com.xiaopeng.xmart.cargallery.view.MainActivity" android:launchMode="singleTask" android:configChanges="fontScale|navigation|keyboardHidden|keyboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.xiaopeng.camera.entry"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.xiaopeng.xmart.cargallery.view.DetailActivity" android:configChanges="fontScale|navigation|keyboardHidden|keyboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaopeng.camera.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name="com.xiaopeng.xmart.cargallery.view.transfer.FileTransferActivity" android:launchMode="singleTask" android:configChanges="fontScale|uiMode|navigation|keyboardHidden|keyboard"/>
        <activity android:name="com.xiaopeng.xmart.cargallery.view.share.edit.ShareEditActivity" android:launchMode="singleTask" android:configChanges="fontScale|uiMode|navigation|keyboardHidden|keyboard"/>
        <activity android:name="com.xiaopeng.xmart.cargallery.view.share.publish.SharePublishActivity" android:launchMode="singleTask" android:configChanges="fontScale|uiMode|navigation|keyboardHidden|keyboard"/>
        <service android:label="TransferManagerService" android:name="com.xiaopeng.xmart.cargallery.presenter.transfer.service.TransferManagerService" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE"/>
            </intent-filter>
        </service>
        <service android:name="com.xiaopeng.lib.framework.account.server.XpAccountServiceImpl" android:permission="com.xiaopeng.permission.SERVICE">
            <intent-filter>
                <action android:name="com.xiaopeng.lib.framework.account.server"/>
            </intent-filter>
        </service>
        <service android:name="org.eclipse.paho.android.service.MqttService"/>
        <provider android:name="com.xiaopeng.lib.framework.netchannelmodule.common.ContextNetStatusProvider" android:exported="false" android:authorities="com.xiaopeng.xmart.cargallery.netmodule.provider"/>
    </application>
</manifest>
